.Footer
{
    font-family:  'Source Sans Pro', sans-serif;
    color: black;
    margin:auto;
    font-weight: bold;
}
.Footer .heading
{
    text-decoration-line: overline underline;
    text-align: center;
}
.Footer .mb-4
{
    height:'263px';
}
.Footer .text-center
{
    color:#4167b2ff;
}